<p class = "body">Todo: <%= todo.body %> </p>
<p class = "status">Status: <% if todo.completed == true %>
                              <%= "complete" %>
                            <% else %>
                              <%= "incomplete" %>
                            <% end %>
</p>
<p><%=button_to "Mark as Completed", { action: "update", id: todo.id, completed: true }, :method => "put", data: { disable_with: 'Marking complete...'} %></p>
