<p class = "body">Todo: <%= todo.body %> </p>
<p class = "status">Status: <% if todo.completed == true %>
                              <%= "complete" %>
                            <% else %>
                              <%= "incomplete" %>
                            <% end %>
</p>
<p></p>
