<div class="body">
  <h2>Todos (<%=todos.count%>)</h2>
  <ol>
    <% todos.each do |todo| %>
      <li><%= todo.body +  " | " + todo.change_from_boolean %> <%= link_to "View This Todo", controller: "todos", action: "show", id: todo.id %></li>
    <% end %>
  </ol>
  <div class="add_todo">
    <form action="/create" method="POST">
      <label class="todo_label">Add a todo!</label>
      <input type="string" name="body">
      <input type="submit">
    </form>
  </div>
</div>
