// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  margin-top: 0;
  margin-bottom: 0;

  ul {
    margin: 0 auto;
  }

  h2 {
    text-decoration: underline;
  }
}

h2 {
  margin: 0;
}

.status {
  margin: 0 auto;
}
