// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-text: #279186;

.body {

  ol {
    margin-left: 20px;

    a {
      text-decoration: none;
      color:#859900;
    }

    a:hover {
      color: orange;
    }
  }

  h2 {
    text-decoration: underline;
  }
}
body {
  font-family: sans-serif;
}
h2 {
  margin: 0;
}

.delete_todo {
float: left;
display: inline-block;
}

.status {
  margin: 0 auto;
  color: gray;
}
.label {
  color: gray;
}
.add_todo {
margin: 10px 10px 0 10px;
}

.main {
  background: #042029;
  color: $main-text;
  font-size: 20px;
  margin: 0 auto;

  p {
    margin: 0 auto;
  }
}

nav {
  font-family: sans-serif;
  margin: 0 auto;
  background: #042029;
  text-align: center;
  color: $main-text;
  padding: 5px;
  box-sizing: border-box;
}

nav p {
  margin: 0 auto;
  padding-top: 20px;
  font-size: 50px;
  text-decoration: underline;
  padding-bottom: 10px;
}

nav h2{
  margin: 0;
}

nav a {
    font-size: 20px;
    padding-left: 15px;
    text-decoration: none;
    color: #859900;
}


nav a:hover {
  color: green;
}

footer {
  background: #042029;
  height: 50px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 10px;

  p {
    color: $main-text;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;

  }
}

.search {
  height: 20px;
  width: 100px;
  background: $main-text;
  margin: 0 auto;
}
