<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <p> Matthew's Todo List </p>
      <a href="/todos">Home</a>
    </nav>
  </header>
<div class="main">
<%= yield %>
</div>
  <footer>
    <p>This Is A Footer</p>
  </footer>
</body>
</html>
